/* Lat button */
.navbar-brand {
    background-color: rgb(5, 197, 197);
    padding-left: 15px;
    padding-right: 15px;
} 
h1 {
    font:bold;
    color: rgb(5, 197, 197);
}
h2 {
    font:bold;
    color: rgb(5, 197, 197);
}
.main-image {
    width: 50%;
    float: left;
}
.navbar-brand {
    padding: 5px; 
}
.img-thumbnail {
    width: 100%;
}
h5 {
    color: rgb(5, 197, 197);
    text-align: center;
}
.card-title {
    text-align: left;
}
/* this doesnt seem to work */
/* .border {
    border-width: medium;
} */
/* decided i didnt like this */
/* .border-custom {
    border-width: 3px;
} */
/* replacing this: justify-content-around, in the class */
/* .content {
    width:90%;
    margin: 20px auto;
    padding:1em; */

